{% extends 'base.html' %}

{% block head %}
<title>Attendance Count</title>
{% endblock %}

{% block body %}
<header>
    <h1>LIVE Attendance Count</h1>
</header>

<form action="/toggle-stream" method="post">
    <!--    <label for="uploader">Draw</label>-->
    <!--    <input id="uploader" type="file">-->

    <button class="btn">
        {% if is_streaming %}
        Stop Streaming
        {% else %}
        Start Streaming
        {% endif %}
    </button>
</form>

<div class="stream-box">
    {% if is_streaming %}
    <img src="{{ url_for('stream') }}" width="100%" alt="Video Capture">
    {% else %}
    <canvas id="canvas" class="idle-box">
    {% endif %}
</div>
{% endblock %}
