{% extends 'base.html' %}

{% block head %}
<title>Attendance Count</title>
{% endblock %}

{% block body %}
<header style="width: 100%">
    <div style="display: flex; gap: 24px; margin-bottom: 16px; width: 100%; font-size: 18px">
        <a href="/">Stream</a>
        <a href="/upload">Upload</a>
    </div>
    <h1 style="text-align: center">LIVE Attendance Count</h1>
</header>

<form action="/toggle-stream" method="post">
    <!--    <label for="uploader">Draw</label>-->
    <!--    <input id="uploader" type="file">-->

    <input class="btn" type="submit" value="{% if is_streaming %}Stop Streaming{% else %}Start Streaming{% endif %}">
</form>

<div class="stream-box">
    {% if is_streaming %}
    <img src="{{ url_for('stream') }}" width="100%" alt="Video Capture">
    {% else %}
    <canvas id="canvas" class="idle-box">
        {% endif %}
</div>
{% endblock %}
