{% extends 'base.html' %}

{% block head %}
<title>Class Attendance</title>
{% endblock %}

{% block body %}
<header>
    <h1>LIVE Attendance Count</h1>
</header>

<form style="margin-block: 32px" action="/toggle-stream" method="post">
    <div style="margin-bottom: 16px">
        <label for="hour-start">Class starts at:</label>
        <input class="time-input" style="width: 48px" placeholder="Hr" id="hour-start" name="hour-start">
        <label for="minute-start">:</label>
        <input class="time-input" style="width: 48px" placeholder="Min" id="minute-start" name="minute-start">
    </div>

    <div style="margin-bottom: 16px">
        <label for="hour-start">Class ends at:</label>
        <input class="time-input" style="width: 48px" placeholder="Hr" id="hour-end" name="hour-end">
        <label for="minute-start">:</label>
        <input class="time-input" style="width: 48px" placeholder="Min" id="minute-end" name="minute-end">
    </div>

    <div style="margin-bottom: 16px">
        <label for="interval">Take snapshot every:</label>
        <input class="time-input" style="width: 48px" placeholder="Min" id="interval" name="interval">
    </div>

    <button class="start-btn">
        Start/Stop Camera
    </button>
</form>

<div style="border-radius: 16px; overflow: hidden">
    <img src="{{ url_for('stream') }}" width="720" alt="Video Capture">
</div>
{% endblock %}
